<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="POMEBankAppTest4" parallel="tests" thread-count="2">
        <classes>
            <class name="TestScenarios.HomePageTest">
                <methods>
                    <include name="HomePageUI"/>
                    <include name="LogoutFunctionality"/>
                </methods>
            </class>
            <class name="TestScenarios.LoginPageTest">
                <methods><include name="LoginPageUITest"/>
                    <include name="SubmissionWithEmptyInput"/>
                    <include name="SubmissionWithEmptyUserId"/>
                    <include name="SubmissionWithEmptyPIN"/>
                    <include name="SubmissionWithInvalidPin"/>
                    <include name="SubmissionWithValidInput"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>